.my_nav {
    background-color: #3a546d;
    color: white;
}

.my_toggler {
    filter: invert(1);
}

hr {
    width: 12%;
    border: 1px solid white;
    opacity: 1;
}

.star {
    width: 100%;
}

.blue_star {
    border: 1px solid black;
    
}

.jumbotron {
    background-color: #1abc9c;
}


.about {
    background-color: #1abc9c;
    color: white;
}

.info {
    background-color:  #3a546d;
    color: white;
}

.copy {
    background-color: #333333;
}

.circle {
    width: 45px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid white;
}

.marked {
    color:  #1abc9c;
}